# Enable python3 and its deps
CONFIG_LIBPYTHON3=y
CONFIG_LIBPYTHON3_EXTENSIONS=y
CONFIG_LIBPYTHON3_EXTENSION_EXPAT=y
CONFIG_LIBPYTHON3_EXTENSION_LIBMPDEC=y
CONFIG_LIBPYTHON3_EXTENSION_UUID=y
CONFIG_LIBPYTHON3_EXTENSION_ZLIB=y
CONFIG_LIBPYTHON3_MAIN_FUNCTION=y

# Enable 9pfs filesystem support
CONFIG_LIBUK9P=y
CONFIG_LIB9PFS=y
CONFIG_LIBDEVFS=y
CONFIG_LIBDEVFS_AUTOMOUNT=y
CONFIG_LIBVFSCORE_AUTOMOUNT_ROOTFS=y
CONFIG_LIBVFSCORE_ROOTFS_9PFS=y
CONFIG_LIBUKLIBPARAM=y
